*__pycache__*
*__pycache__
venv
simplefy_venv
env
Lib
.vscode
Scripts
pyvenv.cfg
__pycache__
Lib
Scripts
bin
db.sqlite3
.venv
staticfiles
.gunicorn.swp
access.log
error.log
error.txt
error3.txt
settings.json
settings.ini
*.pem
*.key
*.csr
*.ini
*.py[ocd]
