<!DOCTYPE html>
<html>
  <head>
    <title>Simple Finance - Welcome</title>
  </head>
  <body>
    <p>Hello {{firstname}}</p>
    <p>
      Welcome to Simple Finance. We’re your one-stop hub for getting
      collateral-free loans with the lowest interest rates and experiencing
      profitable investment opportunities.
    </p>
    <p>
      We value you and we have assigned an account officer to you. <strong>Officer: Kehinde Olabanji Email address: kehinde@simplefing.com.</strong>
    </p>
    <p>
      Your account officer would always be there to help you throughout your
      SimpleFi journey.
    </p>
    Download the SimpleFi App from the Play Store to keep track of your loan.
    <p>For more information, visit our website: <a href="https://www.simplefi.ng">www.simplefi.ng</a></p>
    <p>We’re here to help</p>
    Got questions? We have the answers!
    <p>Send questions to <a href = "mailto: admin@simplefing.com">admin@simplefing.com</a></p>
  </body>
</html>
